:root {
    --grey: #808080;
    --black: #000000;
    --off-white: #fffbfb;
    --off-red: #ff7575; 
}
#index {
    background-color: var(--black); 
    font-family: Arial, Helvetica, sans-serif;
    color: var(--grey);
}
body {
    background-color: var(--grey)
}
.row{
    background-color: var(--black)
}
.myborder{
    border: 1px solid yellow;
}

.practiceRow{
    padding: 0px;
    width: 650px;
}

.column1 {
    float: left;
    width: 50%;
}

.column2 {
    float: left;
    width: 50%;
    height: 103px;
}

.title-column{
    float: left;
    width: 33.3%;
    height: 103px;
    position: relative;
}

.title-text{
    position: absolute;
    bottom: 0;
}
.flexFont {
    height:103px;
    width:100%;
    position: relative;
}
.line {
    border-bottom: 1px solid var(--grey);
}
.column2-nav ul{
    margin-top: 60px;
    padding-left: 90px;
}
.column1-nav ul{
    margin-top: 30px;
}
ul {
    display: inline-block;
    text-align:left;
}
ul li {
    list-style-type: none;
    padding-top: 10px;
}

li:hover {
    cursor:pointer
}
li:hover a {
    text-decoration: none;
    color: var(--off-white);
}
li span {
    color: var(--black);
}
li:hover span{
    color: var(--off-red);
}
/* Clear floats after the columns */
.practiceRow:after {
    content: "";
    display: table;
    clear: both;
}
.flexFont span {
    position: absolute;
    bottom: 0;
    left: 5px;
    margin-bottom: -15px;
    /* margin-left: -42px; */
}
.mobile-nav {
    display: none;
    color: var(--grey);
    padding-top: 40px;
}
li a {
    color: var(--grey);
}
.ekko-lightbox-nav-overlay a:first-child span {
    color: white;
    font-size: 40px;
}
.ekko-lightbox-nav-overlay {
    margin: -50px 10px;
}
.ekko-lightbox-nav-overlay a:nth-child(2) span {
    color: white;
    font-size: 40px;
    margin: 15px;
}
.home {
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--black);
    text-decoration: underline;
}
.italics{
    font-style: italic;
    font-size: 14px;
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column1 {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }
    .column1-nav {
        display: none; 
    }
    .column2-nav {
        display: none;
    }
    .mobile-nav {
        display: inline-flex;
    }
    
}



  